click>=8.1.7,<9.0.0
requests>=2.34.2,<3.0.0
pyyaml>=6.0.3,<7.0.0
flask-swagger-ui>=5.32.14,<6.0.0
flask>=3.0.2,<4.0.0
flask-cors>=6.0.5,<7.0.0
tqdm>=4.66.2,<5.0.0 # For progress bars in lws.py

# Testing dependencies
pytest>=9.1.1,<10.0.0
pytest-cov>=7.1.0,<8.0.0
pytest-mock>=3.15.1,<4.0.0
